@import "../view-patient.component.scss";
.medications {
  background: #ffffff;
  border-radius: 20px;
  padding: 30px 15px;
  margin-bottom: 30px;
  height: inherit !important;
}
.medications table {
  height: 165px;
  overflow: scroll;
}
.medications h5 {
  font-weight: 600;
  font-size: 22px;
  color: #5f5bfe;
}
.medical p img,
.medications p img {
  width: 30%;
}
.pading{
  label {
   font-weight: 6;
   font-size: 12px !important;
   margin-bottom: 2px !important;
   color: #454545 !important;
   font-size: 12px !important;
   padding-right: 27px !important;
 }
}
.checkBox{
 padding: 0px 11px !important;
}