.summary {
  background-color: #edf5ff;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 20px;
  padding-bottom: 20px;
  .table-responsive {
    padding: 15px 25px;
    max-height: 240px !important;
    min-height: 140px !important;

    th {
      font-weight: 600;
      font-size: 10px;
      color: #454545;
    }
    td {
      font-weight: 500;
      font-size: 10px;

      color: #797979;
    }
  }
  .top_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    .sum_head {
      font-weight: 600;
      font-size: 10px;
      line-height: 15px;
      color: #454545;
      margin-bottom: 0;
      span {
        color: #454545;
        margin-left: 10px;
      }
    }
  }

  h1 {
    font-weight: 700;
    font-size: 20.339px;
    line-height: 31px;
    color: #5f5bfe;
    padding: 15px 25px;
  }
  h2 {
    background: #59adeb;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    padding: 5px 0;
    margin-bottom: 0;
  }
  .row.pesnal_info {
    padding: 15px 25px;

    .info_text {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      p {
        font-weight: 600;
        font-size: 10px;
        line-height: 15px;
        color: #454545;
        margin-bottom: 0;
        min-width: 105px;
      }
      span {
        font-weight: 400;
        font-size: 9px;
        line-height: 13px;
        color: #454545;
      }
    }
  }
  .vitals_box {
    padding: 15px 25px;
    h4 {
      font-weight: 600;
      font-size: 12px;
      color: #3874ba;
    }
    .vitals {
      height: auto;
      background: #ffffff;
      border: 1.85937px solid #c1edff;
      border-radius: 8.36719px;
      padding: 10px;
      margin-bottom: 15px;
      h5 {
        font-weight: 600;
        font-size: 9.91667px;
        color: #454545;
      }
      p {
        font-weight: 400;
        font-size: 8.67708px;
        line-height: 13px;
        color: #454545;
      }
    }
  }
  .self_manage_goal {
    display: flex;
    border: 1.85937px solid #c1edff;
    border-radius: 8.36719px;
    align-items: center;
    justify-content: space-between;
    margin: 10px 25px;
    padding: 5px;
    background-color: #fff;
    margin-right: 0;

    .goal_text {
      p {
        font-weight: 400;
        font-size: 8px;
        color: #848484;
        margin-bottom: 0;
      }
      h3 {
        font-size: 10px;

        color: #3874ba;
      }
      h6 {
        font-size: 10px;

        color: #454545;
      }
      h5 {
        font-weight: 600;
        font-size: 10px;

        color: #05a902;
      }
    }
  }
  img {
    width: 26%;
    padding: 15px;
    padding-left: 25px;
  }
  .left_manage {
    padding: 15px;
    h6 {
      margin-bottom: 17px;
    }
  }
}
.download-btn {
  margin-left: auto;
  text-align: right;
  margin-right: 2%;
  button {
    color: #fff;
    background: #5f5bfe;
    border-radius: 500px;
    font-weight: 500;
  }
}
.rightAlign{
  text-align: right;
}