<!-- <div class="login_form">
  <form [formGroup]="loginForm" (ngSubmit)="validateLoginForm()">
    <div class="form_data">

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" required appLowerCase formControlName="email" [class.is-invalid]="userData['email'].invalid &&
          (userData['email'].dirty || userData['email'].touched)" />
        <div *ngIf="userData['email'].invalid &&
          (userData['email'].dirty || userData['email'].touched)" class="invalid-feedback">
          <div *ngIf="userData['email'].errors?.['required']">
            Email address is required.
          </div>
          <div *ngIf="!userData['email'].errors?.['required'] && userData['email'].errors?.['isEmail']">
            Invalid email format.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" required formControlName="password" [class.is-invalid]="userData['password'].invalid &&
          (userData['password'].dirty || userData['password'].touched)" />
        <div *ngIf="userData['password'].invalid &&
          (userData['password'].dirty || userData['password'].touched)" class="invalid-feedback">
          <div *ngIf="userData['password'].errors?.['required']">
            Password is required.
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3 form-check">
      <a [routerLink]="FULL_ROUTES.FORGOT_PASSWORD" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Forgot-password</a>
    </div>
    <button type="submit" [disabled]="isLoading" class="btn btn-primary w-100">
      <ng-container *ngIf="!isLoading">
        Login
      </ng-container>
      <div class="spinner" *ngIf="isLoading"></div>
    </button>
  </form>
</div> -->


<div class="container-fluid">
  <div class="login_form">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div class="banner position-relative">
          <img src="../../../../assets/images/login_banner.png" class="w-100" alt="">
          <div class="blur"></div>
        </div>
      </div>
      <div class="col-lg-6 p-0">
        <div class="banner_form">
          <div class="banner_top">
            <img src="../../../../assets/images/login_logo.png" alt="login_logo">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../../../assets/images/lang.svg" alt=""> English
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">French </a></li>
                <li><a class="dropdown-item" href="#">Esperanto </a></li>
              </ul>
            </div>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="validateLoginForm()">
            <h1>Welcome!</h1>
            <p>Login with the credentials, sent to your email address</p>
            <div class="form_data">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email Address</label>
                <input type="email" class="form-control" required appLowerCase formControlName="email"
                  [class.is-invalid]="userData['email'].invalid &&
                  (userData['email'].dirty || userData['email'].touched)" />
                <div *ngIf="userData['email'].invalid &&
                  (userData['email'].dirty || userData['email'].touched)" class="invalid-feedback">
                  <div *ngIf="userData['email'].errors?.['required']">
                    Email address is required.
                  </div>
                  <div *ngIf="!userData['email'].errors?.['required'] && userData['email'].errors?.['isEmail']">
                    Invalid email format.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" required formControlName="password" [class.is-invalid]="userData['password'].invalid &&
                  (userData['password'].dirty || userData['password'].touched)" />
                <div *ngIf="userData['password'].invalid &&
                  (userData['password'].dirty || userData['password'].touched)" class="invalid-feedback">
                  <div *ngIf="userData['password'].errors?.['required']">
                    Password is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3 form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Remember Me
              </label>

              <a [routerLink]="FULL_ROUTES.FORGOT_PASSWORD" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Forgot-password</a>
            </div>
            <button type="submit" [disabled]="isLoading" class="btn btn-primary w-100">
              <ng-container *ngIf="!isLoading">
                Login
              </ng-container>
              <div class="spinner" *ngIf="isLoading"></div>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(function () {
    $('.selectpicker').selectpicker();
  });
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">