<div class="dropdown">
    <a class="form-select pointer" id="dropdownMenuLink" data-bs-toggle="dropdown" 
    [attr.disabled]="form.get(controlName)?.disabled">
      {{label}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <div class="input-header">
            <span class="p-input-icon-right" (click)="$event.stopPropagation()">
                <i [class]="isLoading ? 'pi pi-spin pi-spinner' : 'pi pi-search'"></i>
                <input type="text" pInputText placeholder="Search" (keyup)="changeValue($event)">
            </span>
        </div>
        <section class="scroll-dropdown" appInfiniteScroller (scrollChange)="scrollChange($event)">
            <li *ngFor="let item of list" (click)="onSelectItem(item)"
            [class.active]="item[bindKey] === form.get(controlName)?.value"
            class="pointer">
                {{item[displayKey]}}
            </li>
            <li class="text-center" *ngIf="!isLoading && !list.length">No data found</li>
        </section>
        <!-- <ng-container *ngIf="isLoading">
            <div class="card__header">
                <h3 class="card__header">
                  <div class="skeleton skeleton-text"></div>
                  <div class="skeleton skeleton-text"></div>
                </h3>
              </div>
        </ng-container> -->  
    </ul>
  </div>