.brPopButton {
  border-radius: 500px;
  border-color: transparent !important;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  width: 89px !important;
  height: 46px !important;
}

.p-dialog .p-dialog-content {
  text-align: center !important;
}
strong {
  color: #5f5bfe;
}
