<!-- <div class="login_form">
  <form [formGroup]="forgetForm" (ngSubmit)="validateForgetForm()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>

      <input type="email" class="form-control" required appLowerCase formControlName="email" [class.is-invalid]="
          userData['email'].invalid &&
          (userData['email'].dirty || userData['email'].touched)
        " />

      <div *ngIf="
          userData['email'].invalid &&
          (userData['email'].dirty || userData['email'].touched)
        " class="invalid-feedback">
        <div *ngIf="userData['email'].errors?.['required']">
          Email address is required.
        </div>
        <div *ngIf="!userData['email'].errors?.['required'] && userData['email'].errors?.['isEmail']">
          Invalid email format.
        </div>
      </div>
    </div>
    <p-dialog [(visible)]="displayBasic" [baseZIndex]="10000" [closable]="false" styleClass="branchPopUp"
      [draggable]="false">
      <img [src]="_popUpImage" alt="" />
      <p>
        We have sent an email regarding <br>reset your password at <strong>{{forgetForm.value.email}}</strong>
        .<br>Kindly please check your inbox and click on given link.
        <br><strong>Thank you!</strong>
      </p>
      <ng-template pTemplate="footer">
        <button type="button" [style.background-color]="_popUpBtnColour" (click)="displayBasic = false"
          class="btn btn-primary btn-lg brPopButton">
          Ok
        </button>
      </ng-template>
    </p-dialog>
    <button type="submit" class="btn btn-primary w-100">Submit</button>
  </form>
</div> -->


<div class="container-fluid">
  <div class="login_form">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div class="banner position-relative">
          <img src="../../../../assets/images/login_banner.png" class="w-100" alt="">
          <div class="blur"></div>
        </div>
      </div>
      <div class="col-lg-6 p-0">
        <div class="banner_form">
          <div class="banner_top">
            <img src="../../../../assets/images/login_logo.png" alt="login_logo">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../../../assets/images/lang.svg" alt=""> English
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">French </a></li>
                <li><a class="dropdown-item" href="#">Esperanto </a></li>
              </ul>
            </div>
          </div>
          <form [formGroup]="forgetForm" (ngSubmit)="validateForgetForm()" class="forgot_pass">
            <h1>Forgot Password?</h1>
            <p>Please enter the email address associated with your account</p>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email Address</label>

              <input type="email" class="form-control" required appLowerCase formControlName="email" [class.is-invalid]="
                  userData['email'].invalid &&
                  (userData['email'].dirty || userData['email'].touched)
                " />

              <div *ngIf="
                  userData['email'].invalid &&
                  (userData['email'].dirty || userData['email'].touched)
                " class="invalid-feedback">
                <div *ngIf="userData['email'].errors?.['required']">
                  Email address is required.
                </div>
                <div *ngIf="!userData['email'].errors?.['required'] && userData['email'].errors?.['isEmail']">
                  Invalid email format.
                </div>
              </div>
            </div>
            <!-- <p-dialog [(visible)]="displayBasic" [baseZIndex]="10000" [closable]="false" styleClass="branchPopUp"
              [draggable]="false">
              <img [src]="_popUpImage" alt="" />
              <p>
                We have sent an email regarding <br>reset your password at <strong>{{forgetForm.value.email}}</strong>
                .<br>Kindly please check your inbox and click on given link.
                <br><strong>Thank you!</strong>
              </p>
              <ng-template pTemplate="footer">
                <button type="button" [style.background-color]="_popUpBtnColour" (click)="displayBasic = false"
                  class="btn btn-primary btn-lg brPopButton">
                  Ok
                </button>
              </ng-template>
            </p-dialog> -->
            <button type="submit" class="btn btn-primary w-100" data-bs-toggle="modal"
              data-bs-target="#forgot_pass">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade  forgot_pass_field" id="forgot_pass" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <img src="../../../../assets/images/img-3.svg" alt="">
      <h3>Check your mail</h3>
      <p>We have sent an password reset link to your email</p>

      <button type="button" class="btn add_hospital btn_head add_goal float-end m-auto" (click)="submitButton()">
        OK
      </button>
    </div>
  </div>
</div>