.p-input-icon-right {
    width: 100% !important;
}
.p-input-icon-right > .p-inputtext {
    width: 100%;
}
.country-item-value {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
form {
    margin: 0 !important;
    padding: 0 !important;
}